#header {
    font-family: Verdana;
    font-size: 25px;
    color: #36043b;
    background-color: #B3DEC1;
    padding: 15px;
    text-align: center;
    border: 1px solid #36043b;
    border-radius: 8px;
}

#intro p {
    color: #36043b;
    background-color: #B3DEC1;
    padding: 7px;
    border-radius: 8px;
    font-family: Verdana;
    /*border-style: double;*/
    text-align: center;
    font-size: 20px;
}

#my_portrait {
    width: 13%;
    height: auto;
    vertical-align: middle;
  	/*  margin-left: 48%; */
    margin-left: 45%;
    border: 1px solid #36043b;
    border-radius: 8px;
}

#atlas {
    width: 13%;
    height:auto;
    vertical-align: middle;
    /* margin-left: 44.75%;--> */
    margin-left: 45%;
    border: 1px solid #36043b;
    border-radius: 8px;
}

main {
    background-color: #DBF9F0;
}

h2 {
  font-family: Verdana;
  font-size: 30px;
  color: #36043b;
  text-align: center;
}

div.assignments_major_section {
  background-color: #B3DEC1;
  padding: 15px;
  text-align: center;
  border: 1px solid #36043b;
  border-radius: 8px;
}

ul {
  font-family: Verdana;
  font-size: 20px;
  color: #36043b;
  text-align: center;
}


#list-bugs {
  color: purple;
  font-style: italic;
  padding: 20px;
  border: solid 1px black;
  background-color: blue;

}

p.red-one {
  color: red;
}

div.kirbycall p {
  color: pink;
}
